<component name="ArtifactManager">
  <artifact type="exploded-ear" name="spring-rest-template:javaEEApplication exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_rest_template_javaEEApplication_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-rest-template/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>